@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}
